:root {
--ColorPrincipal: #222222;
--ColorFondo: #000000;
--ColorDestacado1: #1DCD9F;
--ColorDestacado2: #169976;
}
html {
    background-color: var(--ColorFondo);
    min-height: 100vh;
}
div {
    background-color: var(--ColorPrincipal);
    border-color: var(--ColorDestacado1);
    border-radius: 30px;
}
h1 {
    color: var(--ColorDestacado2);
}
