:root {
    --fondoCol: #0d1117;
    --headerCol: #181e2783;
    --text-color: #c9d1d9;
    --accent-color: #58a6ff;
    --gradCol: #052242;
    --cajaCol: #21262db4;
    scroll-behavior: smooth;
    
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(to top, var(--gradCol), 10%, var(--fondoCol));
    /*background-color: var(--fondoCol);*/
    color: var(--text-color);
    min-height: 100vh;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem 0rem;
    background-color: var(--headerCol);
    position: sticky;
    top: 0;
    backdrop-filter: blur(8px);
    width: 100vw;
    z-index: 1000;
}

.header-top {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-top h1 {
    margin: 0 0 0 1rem;
    font-size: 1.8rem;
    color: var(--accent-color);
}

.nav-idiomas {
    display: flex;
    gap: 0.5rem;
    margin: 0 1rem 0 0;
}



nav button {
    background-color: transparent;
    border: 1px solid var(--accent-color);
    color: var(--accent-color);
    padding: 0.5rem 1rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    font-weight: 600;
}

.nav-principal {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: 0.5rem;
}

            .nav-principal a button {
            background-color: var(--accent-color);
            color: var(--fondoCol);
                font-size: 1.4rem;
        }


nav button:hover {
    background-color: var(--accent-color);
    color: var(--fondoCol);
}

main {
    padding: 2rem calc(25vw - 230px);
}

.pagprinc {
    padding: 0 calc(20vw - 90px);
}

.pagprinc h2 {
    font-size: 2rem;
}

.pagprinc p {
    margin-left: 3vw;
}

        #inicio {
            margin-top: 5rem;
        }

.certificados {
    transform: scale(.85);
    padding: 0 calc(15vw - 270px);
}

.certificados h2 {
    font-size: 2.4rem;
    margin-left: 5vw;
}

section {
    margin-bottom: 3rem;
}

.cajaCertificado {
    margin: 3% 10%;
    display: flex;
    flex-wrap:wrap;
    gap: 1rem;
    justify-content: center;
}

.datosCert {
    min-height: 3rem;
    min-width: 7rem;
    border-radius: 8px;
    background-color: var(--cajaCol);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s;
}
    .datosCert img {
        width: 5rem;
        padding: 1.5rem;
    }

.certificado {
    background-color: var(--cajaCol);
    border-radius: 8px;
    flex: 1 1 250px;
    text-align: left;
    transition: transform 0.3s;
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    gap: 0rem;
    font-weight: 700;
}
.certificado img {
    max-width: 15vh;
    margin: 0;
    padding: 0.7rem;
    right: 0px;
}

.certificado p {
    padding: .6rem 0 .6rem 1.4rem;
    font-size: 1.45rem;
}

    view {
        font-size: 1rem;
        color: #007bff;
    }

#NoIMG {
    display: block;
    flex-direction: unset;
    justify-content: unset;
}

#NoIMG p {
    width: 100%;
}

.certificado:hover {
    transform: scale(1.05);
}

.datosCert:hover {
    transform: scale(1.05);
}



@media (max-width: 768px) {


    .nav-principal {
        flex-wrap: wrap;
        gap: 0.5rem;
        margin-top: 0.5rem;
    }

    header h1 {
        font-size: 1.5rem;
    }

    nav button {
        padding: 0.4rem 0.8rem;
        font-size: 0.9rem;
    }
   .cajaCertificado {
    margin: 3% 10%;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
   }

    .certificado {
        font-size: 0.9rem;
        padding: 0rem;
        width: 60%;
    }
    


    .datosCert {
        width: 25%;
    }

}

@media (max-width: 480px) {

main {
    padding: 0;
    margin: 0;
}    

    main h2, main p {
        margin: 0;
        padding: 0;
    }

    nav button {
        font-size: 0.8rem;
        width: auto;}
    

    .nav-principal {
        flex-direction: row;
        gap: 0.5rem;
        align-items: center;}

        .nav-principal a button {
            background-color: var(--accent-color);
            color: var(--fondoCol);
            font-size: 0.95rem;}

    .nav-idiomas {
        display: flex;
        gap: 0.2rem;
        margin: 0 .5rem 0 0;}

    .pagprinc {
        padding: 0 8vw;}

    .certificados {
        padding: 0;
        margin: 0;}

        .cajaCertificado {
            margin: 3% 0%;
            width: 100%;
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            gap: 0.5rem;
            flex: 0 0 auto;
            justify-content: center;
            font-size: 0.5rem;}


    .certificado {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        padding: 0.5rem;
        margin: 0;
        width: 80%;
        height: auto;
    }

                .certificado img {
                    display: block;
                    height: 5.3rem;
                    aspect-ratio: 1/1;
                    margin: 0;
                    padding: 0rem;
                }

                .certificado p {
                    vertical-align: top;
                    width: fit-content;
                    font-size: 1rem;
                    padding: 0.6rem 0 0.6rem 0.3rem;
                    line-height: 1.3;
                    margin: 0;}

                view {
                    font-size: 0.7rem;
                }

            .datosCert {
                min-width: 0;
                width: fit-content;
                padding: 0.3rem;
                display: flex;}

                .datosCert img {
                    display: block;
                    height: 3rem;
                    width: auto;
                    padding: 0;
                    margin: 0;
                }
                            


    }
